.component-email-to {
    display: flex;
    width: fit-content;
    background-color: rgb(251, 251, 251);
    border: solid 1px rgb(218, 218, 218);
    border-radius: 6px;
    padding: 0.3rem 0.6rem;
}
