.purchase-button {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;

    .left-icon {
        i {
            color: rgb(24, 141, 250);
        }
    }

    .right-icon {
        text-align: center;
        padding: 0 5px;
        border-left: 1px solid rgb(222, 222, 222);

        i {
            color: rgb(61, 96, 120);
        }
    }
}
