.app-form-control-wrapper {
    &.form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        label {
            color: #222;
            display: inline-block;
            // width: auto;
            padding-right: 15px;
            line-height: 17px;
            font-size: 15px;
            vertical-align: top;
        }
        .custom-field-isRequired {
            &::before {
                content: '';
                height: 96%;
                width: 3px;
                background: #f27b77;
                position: absolute;
                top: 2%;
                left: 0px;
                border-radius: 4px 0 0 4px;
                z-index: 1;
            }
        }
        .custom-field-container {
            position: relative;

            i {
                position: absolute;
                left: calc(100% - 33px);
                margin: 0 !important;
                font-size: 20px;
                height: 34px;
                width: 32px;
                text-emphasis: center;
                padding: 7px;
                top: 1px;
                background-color: #f4f5f6;
                color: black !important;
                border-radius: 0 4px 4px 0;
            }

            input {
                width: 100%;
                height: 36px;
                transition: initial;
                border: 1px solid #c3c6ca !important;
                border-radius: 5px;
                box-shadow: none !important;
                color: #222;
                background-color: transparent;
                transition: 0.2s ease;
                &::placeholder {
                    opacity: 0;
                }
                &:hover {
                    box-shadow: 0 0 6px #9e9e9e !important;
                }
                &:focus {
                    border: 1px solid #3c9df7 !important;
                    box-shadow: 0 0 6px #8bc4ff !important;
                }
            }
        }

        .invalid-feedback-- {
            clear: both;
            padding-bottom: 10px;
            font-size: 11px;
            display: block;
            padding-left: 30%;
        }
        .text-danger {
            margin-top: 1px;
            color: #e64c48 !important;
            white-space: initial;
        }

        @media (max-width: 480px) {
            label {
                width: 100% !important;
                margin-bottom: 8px !important;
                text-align: left !important;
            }
            .custom-field-container {
                width: 100% !important;
            }
            .invalid-feedback-- {
                padding-left: 1% !important;
            }
        }

        @media (max-width: 768px) {
            label {
                width: 30%;
                margin: 0;
                text-align: right;
            }
            .custom-field-container {
                width: 60%;
            }
            .invalid-feedback-- {
                padding-left: 30%;
            }
        }

        @media (max-width: 992px) {
            label {
                width: 30%;
                margin: 0;
                text-align: right;
            }

            .custom-field-container {
                width: 59%;
            }
            .invalid-feedback-- {
                padding-left: 30%;
            }
        }
        @media (min-width: 992px) {
            label {
                width: 20%;
                margin: 0;
                text-align: right;
            }
            .custom-field-container {
                width: 59%;
            }
            .invalid-feedback-- {
                padding-left: 20%;
            }
        }
    }
}

.custom-header {
    background-color: white;
    flex-wrap: wrap;
    padding: 16px 24px 8px 112px;
    box-shadow: rgb(229, 229, 229) 0px 1px 3px;
}

.btn {
    &.btn-custom {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        border: 0;
        padding: 8px 20px 9px;
        border-radius: 6px;
        outline: none !important;
        display: inline-block;
        width: auto !important;
        margin-right: 8px;
        line-height: 1.2;
        text-decoration: none !important;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 33px;

        &.btn-custom-info {
            border: 0 !important;
            box-shadow: 0 -2px 0 0 #0061ca inset !important;
            background: transparent linear-gradient(to top, #0279ff, #00a3f3) 0
                0 no-repeat padding-box !important;
            padding: 7px 20px 8px !important;
            color: #fff !important;
            min-width: 31px;
            &:hover {
                background: transparent
                    linear-gradient(to bottom, #0279ff, #00a3f3) 0 0 no-repeat
                    padding-box !important;
            }
        }

        &.btn-custom-warning {
            min-width: 31px;
            border: solid 1px #d0d4df !important;
            padding: 6px 20px 7px;
            color: #222833 !important;
            box-shadow: 0 -1px 0 0 #d0d4df inset !important;
            background: transparent linear-gradient(#fcfdff 0, #eaeef5 100%) 0 0
                no-repeat padding-box !important;
            &:hover {
                background: transparent linear-gradient(#eaeef5 0, #fcfdff 100%)
                    0 0 no-repeat padding-box !important;
            }
        }
    }
}

.custom-lg-left-padding {
    padding-left: 150px;
}
