@import '~react-datepicker/src/stylesheets/datepicker';

.app-datepicker {
    // border: 1px solid #c3c6ca;
    // border-radius: 5px;
    input.app-datepicker-input {
        &.log-style {
            background-color: red;
        }
    }
    .react-datepicker-wrapper {
        width: 100%;
        &.wrapper-log-style {
            div {
                height: 36px;
                input {
                    margin-top: 3px;
                }
            }
        }
    }
    &:not(.app-datepicker-sm) {
        input.app-datepicker-input {
            @extend .form-control;
            width: 100% !important;
            &.log-style {
                background-color: transparent;
            }
        }
    }
    // input.app-datepicker-input {
    //     @extend .form-control;
    //     width: 100% !important;
    // }

    &.app-datepicker-sm {
        input.app-datepicker-input {
            @extend .form-control-sm;
            width: 100% !important;
        }
    }
    // &.app-datepicker-lg{}

    &.label-uppercase {
        label {
            text-transform: uppercase;
        }
    }
    &.label-none {
        label {
            visibility: hidden;
        }
    }
}
