.zoho-simple-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .form-label-container {
        text-align: right;
        padding-right: 12px;
        padding-top: 8px;
    }

    .form-content-container {
        width: 59%;
        .form-field-container {
            width: 100%;
            position: relative;
            &.form-field-isRequired {
                &::before {
                    content: '';
                    height: 98%;
                    width: 3px;
                    background: #f27b77;
                    position: absolute;
                    top: 1%;
                    left: 0px;
                    border-radius: 4px 0 0 4px;
                    z-index: 1;
                }
            }
        }
    }
    &.without-label {
        .form-content-container {
            width: 100%;
        }
    }
}
